body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Agregamos margen lateral */
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

select {
    padding: 8px;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.notaSpan {
    font-weight: bold;
}

#notaMedia {
    font-size: 18px;
    font-weight: bold;
}
